Makefile.in
aclocal.m4
config.h.in
configure
autom4te.cache
*.o
*.lo
Makefile
*.m4
Makefile.in
*.la
.deps
.libs
.cproject
.project
.settings/
INSTALL
_configs.sed
bin/carousel/ilixi_carousel
bin/compositor/ilixi_comp
bin/demo2/ilixi_demo2
bin/demo3/ilixi_demo3
bin/demo4/ilixi_demo4
bin/gallery/ilixi_demo1
bin/navigation/ilixi_nav
bin/stacking/ilixi_stacking
config.h
config.log
config.status
config/config.guess
config/config.sub
config/depcomp
config/install-sh
config/ltmain.sh
config/missing
ilixi-0.1.0.pc
ilixi/ilixiConfig.h
libtool
stamp-h1

