Makefile.in
aclocal.m4
config.h.in
configure
autom4te.cache
*.o
*.lo
Makefile
*.m4
Makefile.in
*.la
.deps
.libs
.cproject
.project
.settings/
INSTALL
_configs.sed
config.h
config.log
config.status
config/config.guess
config/config.sub
config/depcomp
config/install-sh
config/ltmain.sh
config/missing

libtool
stamp-h1
*_rflx.cpp

ilixi.pc
ilixi/ilixiConfig.h
ilixi_settings.xml
data/ilixi_catalog.xml

bin/car/ccompositor/ilixi_carcomp
bin/car/home/ilixi_carhome
bin/car/statusbar/ilixi_carstatus
bin/carousel/ilixi_carousel
bin/compositor/ilixi_comp
bin/demo2/ilixi_demo2
bin/demo3/ilixi_demo3
bin/demo4/ilixi_demo4
bin/gallery/ilixi_demo1
bin/gallery/ilixi_gallery
bin/home/ilixi_home
bin/monitor/ilixi_monitor
bin/navigation/ilixi_nav
bin/osk/ilixi_osk
bin/phone/home/ilixi_phome
bin/phone/pcompositor/ilixi_pcomp
bin/phone/statusbar/ilixi_pstatus
bin/player/
bin/settings/ilixi_settings
bin/soundmixer/ilixi_mixer
bin/stacking/ilixi_stacking
bin/statusbar/ilixi_statusbar
bin/widgets/ilixi_widgets
examples/animations/ilixi_animations
examples/ilixi_animatedtiles
examples/ilixi_buttons
examples/ilixi_containers
examples/ilixi_dialogs
examples/ilixi_hello
examples/ilixi_signals

boot

