Makefile.in
aclocal.m4
config.h.in
configure
autom4te.cache
*.o
*.lo
Makefile
*.m4
Makefile.in
*.la
.deps
.libs
.cproject
.project
.settings/
INSTALL
_configs.sed
config.h
config.log
config.status
config/config.guess
config/config.sub
config/depcomp
config/install-sh
config/ltmain.sh
config/missing

libtool
stamp-h1
*_rflx.cpp

ilixi.pc
ilixi/ilixiConfig.h
ilixi_settings.xml
data/ilixi_catalog.xml

apps/cairo/ilixi_cairo
apps/calc/ilixi_calc
apps/car/ccompositor/ilixi_carcomp
apps/car/home/ilixi_carhome
apps/car/statusbar/ilixi_carstatus
apps/carousel/ilixi_carousel
apps/compositor/ilixi_comp
apps/demo2/ilixi_demo2
apps/demo4/ilixi_demo4
apps/egl/ilixi_egl
apps/gallery/ilixi_gallery
apps/home/ilixi_home
apps/monitor/ilixi_monitor
apps/osk/ilixi_osk
apps/phone/dialer/ilixi_dialer
apps/phone/home/ilixi_phome
apps/phone/pcompositor/ilixi_pcomp
apps/phone/statusbar/ilixi_pstatus
apps/sip/ilixi_sip
apps/player/ilixi_player
apps/settings/ilixi_settings
apps/soundmixer/ilixi_mixer
apps/stacking/ilixi_stacking
apps/statusbar/ilixi_statusbar
apps/widgets/ilixi_widgets
examples/animations/ilixi_animations
examples/ilixi_animatedtiles
examples/ilixi_buttons
examples/ilixi_containers
examples/ilixi_dialogs
examples/ilixi_hello
examples/ilixi_signals

boot

